<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingzone.dao.GroupDAO">

    <resultMap id="groupMap" type="Group">
        <id column="id" property="id"/>
        <result column="introduce" property="introduce"/>
    </resultMap>
    <update id="modifyGroup" parameterType="com.ingzone.model.dto.Group">
        UPDATE `group`
        SET introduce = #{introduce}
        WHERE id = #{id}
    </update>

    <select id="getGroupById" parameterType="java.lang.Integer" resultMap="groupMap">
        SELECT *
        FROM `group`
        WHERE id = #{id}
    </select>

    <select id="getGroup" resultMap="groupMap">
        SELECT *
        FROM `group`
    </select>

</mapper>