<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingzone.dao.NoticeDao">

    <insert id="uploadNotice" parameterType="com.ingzone.model.dto.Notice" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO notice (type,title,content,date,deadline)
        VALUES (#{type},#{title},#{content},now(),#{deadline})
    </insert>

    <insert id="insertOptions" parameterType="com.ingzone.model.dto.Option">
        INSERT INTO options (noticeId,content)
        VALUES (#{noticeId},#{content})
    </insert>
    <update id="modifyNotice">
        UPDATE notice
        SET type = #{type},
            title = #{title},
            content = #{content},
            deadline = #{deadline}
        WHERE id = #{id}
    </update>

    <delete id="deleteNotice">
        DELETE FROM notice
        WHERE id = #{id}
    </delete>
    <delete id="deleteOptions">
        DELETE FROM options
        WHERE noticeId = #{id}
    </delete>
    <select id="getTotalNumber" resultType="int">
        SELECT  count(*)
        FROM notice
    </select>
    <select id="getNotice" resultType="com.ingzone.model.dto.Notice">

    </select>

</mapper>