<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingzone.dao.ProjectDAO">

    <select id="getProject"  resultType="Project">
        SELECT id, url, introduce, github, date, game
        FROM project
        ORDER BY date
        LIMIT #{begin}, #{rows}
    </select>

    <select id="getProjectCount" resultType="int">
        SELECT COUNT(*)
        FROM project
    </select>

    <select id="getProjectById" parameterType="int" resultType="Project">
        SELECT *
        FROM project
        WHERE id = #{id}
    </select>

    <insert id="insertProject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project(url, introduce, github, date, game)
        VALUES (#{url}, #{introduce}, #{github}, #{date}, #{game})
    </insert>

    <update id="updateProject" parameterType="Project">
        UPDATE project
        SET url = #{url}, introduce = #{introduce}, github = #{github}, date = #{date}, game = #{game}
        WHERE id = #{id}
    </update>

</mapper>