<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ingzone.dao.ProjectDAO">

    <select id="getProject" parameterType="map" resultType="com.ingzone.model.dto.Project">
        SELECT *
        FROM project
        LIMIT #{page}, #{rows}
    </select>

    <select id="getProjectCount" resultType="int">
        SELECT COUNT(*)
        FROM project
    </select>
</mapper>