<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.ingzone.dao.DemoDao" alias="Demo"/>
        <typeAlias type="com.ingzone.dao.IngDao" alias="Ing"/>
        <typeAlias type="com.ingzone.model.dto.Group" alias="Group"/>
        <typeAlias type="com.ingzone.model.dto.Project" alias="Project"/>
        <typeAlias type="com.ingzone.model.dto.User" alias="User"/>
    </typeAliases>
</configuration>