.body p{
    height: 40px;
    line-height: 40px;
    background-color: #a6c5e3;
}
.body table{
    margin: 30px 0 0 15%;
    width: 60%;
    position: relative;
    border-collapse:collapse;
}
.body tr{
    background-color: #fff;
    height: 30px;
    line-height: 30px;  

    border-bottom: 12px solid #e4eff5;
}
tr.lineone{
    height: 20px;
    background-color: #e4eff5;
    border-bottom: none;
    
}
.square{
    width: 30px;
    height: 30px;
    background-color: #a6c5e3;
    margin-left: 8px;
}
.icon{
    width: 10%;
}
.colone{
    width: 16%;
}
.coltwo{
    width: 25%;
}
.colthree{
    width: 16%;
}
.colfour{
    width: 20%;
}
.firstspan{
    margin-left: 10%;
}
.secondspan{
    margin-left: 5%;
}
.thirdspan{
    margin-left: 52%;
    cursor: pointer;
}
/*.body{*/
    /*min-width: 674px;*/
/*}*/
.colfive{
    position: absolute;
    right: -60px;
}
.colsix{
    position: absolute;
    right: -120px;
}
.deleteBtn{
    background-color: #d35852;
    border:none;
    height: 26px;
    line-height: 26px;
    color: #ffffff;
    width: 46px;
    border-radius: 8px;
    outline: mediumaquamarine;
    cursor: pointer;
}
.changeBtn{
    background-color: #5f92c7;
    border:none;
    height: 26px;
    line-height: 26px;
    color: #fff;
    width: 46px;
    border-radius: 8px;
    outline: mediumaquamarine;
    cursor: pointer;
}
.submmitDiv{
    width: 320px;
    height: 240px;
    border: none;
    background-color: #e4eff5;
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;

}
.submmitDiv div,.changeDiv div{
    width: 80%;
    margin: 10px auto;

}
.submmitDiv div>span{
    font-size: 20px;
}
.submmitDiv div>input,.changeDiv input{
    font-size: 20px;
    text-overflow: ellipsis;
   margin-top: 5px;
}
.submmitDiv input{
    font-size: 20px;
}
.changeDiv div>span{
    font-size: 20px;
}
.changeDiv{
    width: 320px;
    height: 240px;
    border: none;
    background-color: #e4eff5;
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
}
.changeDiv input{
    font-size: 20px;
}
#cancelChangeData{
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}

#cancelSubmit{
    position: absolute;
    left: 30px;
    bottom: 30px;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}
#submitData{
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}
#submitChangeData{
    position: absolute;
    right: 44px;
    bottom: 30px;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}
*{
    font-size: 14px;
    margin: 0;
    padding:0;
}