.nav_bar{
    background-color: #5f92c7;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 0 5px;
    z-index: 2;
}
.nav_bar .nav_bar_back,.nav_bar .nav_bar_confirm{
    display: inline-block;
    margin: 0 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nav_bar .nav_bar_back{
    left: 0;
}
.nav_bar .nav_bar_confirm{
    right: 0;
}
.nav_bar .nav_bar_back img,.nav_bar .nav_bar_confirm img{
    width: 40px;
    height: 40px;
}


.message{
    margin-top: 30px;
    width: 64%;
    margin-left: 17%;
    color: #5f92c7;
    position: relative;
}
span.info{
    width: 230px;
    display: inline-block;
    line-height: 70px;
    height: 30px;
}
.longspan{
    display: inline-block;
    line-height: 70px;
    height: 30px;
    width:460px;
}
.message img{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 25%;
    height: 200px;
}

.delete_resume{
    position: absolute;
    right: 160px;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}
.change_resume{
    position: absolute;
    right: 0;
    background-color: #5f92c7;
    color: #fff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    outline: mediumaquamarine;
}
.input{
    display: inline-block;
    font-size: 20px;
    width: 55%;
    border: none;
    background-color: #e4eff5;
    color: #5f92c7;
    outline: mediumaquamarine;
    text-overflow:ellipsis
}
.longinput{
    display: inline-block;
    font-size: 20px;
    width: 80%;
    border: none;
    background-color: #e4eff5;
    color: #5f92c7;
    outline: mediumaquamarine;
    text-overflow:ellipsis;
}
.inputtext{
    outline: mediumaquamarine;
    font-family: 微软雅黑;
    margin-top: 16px;
    width:100%;
    font-size:20px;
    min-height: 150px;
    resize: none;
    border: none;
    background-color: #e4eff5;
    color: #5f92c7;
}
#submitChange{
    display: none;
}
#github{
    letter-spacing: 1.4px;
}
#cancelChange{
    display: none;
}