.inform_vote .head,.inform_ordinary .head{
    color: #555;
}


.inform_container .item_wrapper{
    transition-property: width;
    transition-duration: .5s;
}

@media screen and (max-width: 1080px){
    .inform_container .item_wrapper{
        width: 50%;
    }
}
@media screen and (max-width: 720px){
    .inform_container .item_wrapper{
        width: 100%;
    }
}