#admin_mainbody_act{

    min-width: 1165px;

    min-height: 663px;

    position: relative;
}
.diamondDiv_3{
    cursor: pointer;
    position: relative;

    padding: 14%;

    /* margin: 0%; */

    /* margin: 7%; */

    padding: 0%;

    font-size: 16px;

    width: 8em;

    height: 8em;

    background-color: rgba(255, 255, 0, 0);

    transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    overflow: hidden;

    border: 8px solid;

    border-color: #5f92c7;
}

.sonOfMainBody_tran{

    width: 81%;

    margin: 0 auto;
}

.outDiamondDiv_3{
    height: 93%;
    display: inline-block;
    width: 30%;
    /* margin: 0 auto; */
    /* margin: 12px; */
    margin: 10% 0 1% 3%;
}

#firstLineDiv_3{
    height: 35%;
    padding-top: 5%;
    /* padding-left: 10%; */
    width: 60%;
    margin: 0 auto;
    /* font-size: 16px; */
    min-width: 1041px;
}
.firstline_3{
    float: left;
    padding: 2% 7% 0 7%;
    /* font-size: 16px; */
}

#secondLineDiv_3{
    height: 35%;
    /* padding-top: 25%; */
    /* padding-left: 10%; */
    width: 60%;
    margin: 0 auto;
    min-width: 1060px;
}

.secondline_3{
    float: left;
    padding: 10% 7% 0 7%;
}

.ActName{
    left: 24%;
    top: 14%;
    z-index: -1;
    position: absolute;
    width: 227%;
    height: 227%;
    /* font-size: 20px; */
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    /* padding-right: 37%; */
    /* padding-left: 83%; */
    /* margin-top: 0%; */
    padding-top: 17%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 120%;
}
.downtranlge_3{
    left: 24%;
    top: 14%;
    z-index: -1;
    position: absolute;
    width: 227%;
    height: 227%;
    /* font-size: 20px; */
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    /* padding-right: 37%; */
    /* padding-left: 83%; */
    /* margin-top: 0%; */
    padding-top: 17%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 120%;
}

.footerForInput {
    /* text-align: right; */
    width: 91%;
    /* height: 38%; */
    /* height: 75px; */
    text-align: right;
    line-height: 75px;
    position: absolute;
    /* top: 90%; */
    bottom: 0px;
    /* font-size: 500px!important; */
}

.footerA{
    color: black;
    /**/
    cursor: pointer;
}
.JumpToPageButton{
    cursor: pointer;
}
#OutCreatActivity_admin{

}
#creatActivity_admin{
    width: 100%;
}

.SetUpNewAct{
    float: left;
    cursor: pointer;
    font-size: 22px;
    /* border: 1px solid; */
    color: black;
    margin-left: 15%;
}

.Act_operate {
    width: 70%;
    margin: 0 auto;
    padding-top: 6%;
    min-width: 900px;
    /* text-align: center; */
}

#showScreen h1 {color: #5f92c7;font-weight: bold;letter-spacing: 10px;}
input.actText {
    font-size: 22px;
    padding-left: 3%;
    letter-spacing: 2px;
    height: 40px;
    width: 100%;
}

textarea.actTextArea {
    margin-top: 4%;
    width: 100%;
    font-size: 22px;
    padding-top: 2%;
    padding-left: 3%;
    letter-spacing: 2px;
    height: 200px;
    /* width: 100%; */
}
.Act_operate p {color: #85b3e2;font-size: 22px;font-weight: 300;}

.Act_operate_input {
    font-size: 20px;
    padding: 2px 0 2px 6px;
    margin: 1%;
}

.actTime {
    width: 24%;
    margin: 1.5% 5px;
}

Act_operate_input {
    margin: 5px;
}

.groupDuty {
    /* font-size: 20px; */
    color: rgba(75, 109, 143, 0.84);
    padding: 7px 6px;
}

.groupShow_p{

    display: inline;
    width: 40%;
    float: right;
}
p.groupDuty_p {
    /* width: 40%; */
    display: inline;
}

.groupShow {
    /* font-size: 20px; */
    color: rgba(75, 109, 143, 0.84);
    padding: 7px 6px;
}