body{
    background-color: #e4eff5;
}
.mainBody{
    height: 90%;
    background-color: #e4eff5;
}

#mainBody_1{
    /*display: none;*/
}
#mainBody_1 img{
    /* padding: 10% 0 0 15%; */
    margin-top: 10%;
}
#mainBody_1_pdiv{
    font-size: 135%;
    color: #636b6c;
    float: right;
    width: 50%;
    /* padding: 9% 18% 0 0; */
    margin-top: 9%;
    line-height: 126%;
}
#mainBody_1_pdiv h1{
    text-align: center;
    color: #3870ac;
    font-size: 200%;
}


#mainBody_2{
    min-width: 1165px;
}
.diamondDiv_2{
    padding: 14%;
    /* margin: 0%; */
    /* margin: 7%; */
    padding: 0%;
    width: 10em;
    height: 10em;
    background-color: rgba(255, 255, 0, 0);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    overflow: hidden;
    border: 8px solid;
    border-color: #5f92c7;
    cursor: pointer;
}

.outDiamondDiv_2{
    height: 94%;

}

#firstLineDiv_2{
    height: 35%;
    padding-top: 4%;
    padding-left: 9%;
}
.firstline_2{
    float: left;
    padding: 5% 5% 0 10%;
}

#secondLineDiv_2{
    height: 35%;
    padding-top: 1%;
    padding-left: 0%;
    /* margin-top: 26px; */
}

.secondline_2{
    float: left;
    padding: 6% 3% 0 11%;
}

.uptranlge_2{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}
.downtranlge_2{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}

#mainBody_3{
    min-width: 1165px;
}
.diamondDiv_3{

    padding: 14%;

    /* margin: 0%; */

    /* margin: 7%; */

    padding: 0%;

    width: 10em;

    height: 10em;

    background-color: rgba(255, 255, 0, 0);

    transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    overflow: hidden;

    border: 8px solid;

    border-color: #5f92c7;
}

.outDiamondDiv_3{
    height: 94%;

}

#firstLineDiv_3{
    height: 35%;
    padding-top: 5%;
    /* padding-left: 10%; */
    min-width: 1060px;
    width: 60%;
    margin: 0 auto;
}
.firstline_3{
    float: left;
    padding: 2% 6% 0 10%;
}

#secondLineDiv_3{
    height: 35%;
    /* padding-top: 25%; */
    /* padding-left: 10%; */
    width: 60%;
    min-width: 1060px;
    margin: 0 auto;
}

.secondline_3{
    float: left;
    padding: 10% 6% 0 10%;
}

.uptranlge_3{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}
.downtranlge_3{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}


#mainBody_4{
    min-width: 1165px;
}
.diamondDiv_4{

    padding: 14%;

    /* margin: 0%; */

    /* margin: 7%; */

    padding: 0%;

    width: 10em;

    height: 10em;

    background-color: rgba(255, 255, 0, 0);

    transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    overflow: hidden;

    border: 8px solid;

    border-color: #5f92c7;
}

.outDiamondDiv_4{
    height: 94%;
    display: inline-block;
    /* margin: -28px; */
    margin: 5% 6%;
    /* text-align: center; */
    /* width: 15%; */
}

#firstLineDiv_4{
    height: 35%;
    padding-top: 5%;
    /* padding-left: 10%; */
    min-width: 1060px;
    width: 60%;
    margin: 0 auto;
}
.firstline_4{
    float: left;
    padding: 2% 6% 0 10%;
    /* margin: 0 auto; */
}

#secondLineDiv_4{
    height: 35%;
    /* padding-top: 25%; */
    /* padding-left: 10%; */
    width: 60%;
    min-width: 1060px;
    margin: 0 auto;
}

.secondline_4{
    float: left;
    padding: 10% 6% 0 10%;
}

.insideTran{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}


.sonOfMainBody{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    min-width: 700px;
}
.sonOfMainBody_tran {
    min-width: 1100px;
    width: 86%;
    margin: 0 auto;
    text-align: center;
    /* display: inline-block; */
}
/***************************************************group*********************************/
#mainBody_group_1{
    /* display: none; */
    min-width: 1165px;
    /* display: block; */
}
.diamondDiv_group_1{

    padding: 14%;

    /* margin: 0%; */

    /* margin: 7%; */

    padding: 0%;

    width: 8em;

    height: 8em;

    background-color: rgba(255, 255, 0, 0);

    transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    -moz-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    -o-transform: rotate(45deg);

    overflow: hidden;

    border: 8px solid;

    border-color: #5f92c7;

    margin: 0 auto;
}

.outDiamondDiv_group_1{
    /* height: 94%; */
}

#firstLineDiv_group_1{
    height: 35%;
    padding-top: 5%;
    /* padding-left: 10%; */
    margin: 0 auto;
    width: 60%;
    min-width: 1060px;
}
.firstline_group_1{
    float: left;
    padding: 2% 6% 0 10%;
}

#secondLineDiv_group_1{
    height: 35%;
    /* padding-top: 25%; */
    padding-left: 10%;
    min-width: 1060px;
}

.secondline_group_1{
    float: left;
    padding: 10% 6% 0 10%;
}

.uptranlge_group_1{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}
.downtranlge_group_1{
    width: 18em;
    height: 29em;
    /* margin-left: 0%; */
    /* padding-left: 1em; */
    padding-right: 37%;
    padding-left: 83%;
    /* margin-top: 0%; */
    padding-top: 25%;
    background-color: #b9d1e6;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    text-align: center;
    font-size: 148%;
}

.h1_line{
    width: 70px;
    height: 4px;
    margin: 0 auto;
    background-color: #ef7975;
    /* padding: 0 14px; */
    margin: 10px 2%;
    display: inline-block;
    /* align-items: center; */
}

#h1div h1 {
    text-align: center;
    color: #f0716b;
    font-size: 268%;
    font-weight: normal;
    display: inline-block;
}
#h1div{
    margin: 0 auto;
    width: 30%;
    padding: 5% 0;
    text-align: center;
}

#groupMumIntr{
    width: 73%;
    height: 100%;
    margin: 0 auto;
    min-width: 700px;
}

.personalIntroDiv {
    height: 44%;
    width: 32%;
    display: inline-block;
    /* margin: 0 auto; */
    padding-top: 7%;
}

.personalIntroText {
    width: 60%;
    margin: 0 auto;
}
.personalIntroTextP{
    word-break: break-all;
    padding-top: 40%;
    padding-bottom: 50%;
}